* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Barlow', sans-serif;
}

.container {
  width: 70%;
  background-color: rgb(247, 248, 250);
}

.header h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 1.7rem;
}

.row {
  display: flex;
}

.column {
  width: 25%;
}

.column img {
  width: 70%;
}

.images {
  display: flex;
}

.logo {
  width: 40%;
  display: flex;
}
