body {
  color: #090302;
}

h1 {
  text-align: center;
}

article {
  padding: auto 16px auto 16px;
  border: solid 1px;
  border-radius: 6px;
  margin-bottom: 16px;
}

.title {
  font-family: monospace;
  font-size: 24px;
}

#html {
  color: red;
}

#css {
  color: green;
}

#js {
  color: blue;
}
