* {
  box-sizing: border-box;
  margin: 0 auto;
}

.container {
  width: 100%;
}

.row {
  display: flex;
}

.open-modal-window {
  background-color: rgb(74, 74, 233);
  border-radius: 7px;
  width: 100%;
  width: 330px;
  height: 75px;
  margin: 10px;
}

.open-modal-window a {
  text-align: center;
  text-decoration: none;
  color: white;
}

.open-modal-window h1 {
  font-size: 2.6rem;
  padding-top: 12px;
}

.row-centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.survey-window-invisible {
  display: none;
}

.survey-window {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: grey;
  border-radius: 5px;
  width: 30%;
  height: 300px;
}

.survey-window h2 {
  color: black;
  font-weight: 800;
  font-size: 2.3rem;
}

.survey-window a {
  width: 180px;
  height: 80px;
  background-color: rgb(235, 93, 93);
  border: 0 solid;
  color: white;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
}

.survey-window h3 {
  font-size: 2.8rem;
  font-weight: 400;
}
