* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: sans-serif;
}

.container {
  width: 100%;
}

.row {
  display: flex;
}

.open-modal-window {
  background-color: rgb(74, 74, 233);
  border-radius: 7px;
  box-shadow: 3px 3px 3px rgb(49, 49, 180);
  width: 300px;
  height: 60px;
  margin: 20px;
  text-align: center;
}

.open-modal-window a {
  text-decoration: none;
}

.open-modal-window h1 {
  font-size: 2.3rem;
  padding-top: 10px;
  color: white;
  font-weight: 500;
}

.row-centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.survey-window-invisible {
  display: none;
}

.survey-window-visible {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  background-color: white;
  width: 40%;
  height: 280px;
  box-shadow: 10px 10px 10px, black;
}

.survey-window-visible h2 {
  color: black;
  font-weight: 900;
  font-size: 2rem;
  padding-top: 20px;
}

.survey-window-visible a {
  width: 120px;
  height: 50px;
  background-color: rgb(235, 93, 93);
  box-shadow: 3px 3px 3px rgb(109, 56, 56);
  border: 0 solid;
  color: white;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
}

.survey-window-visible h3 {
  font-size: 2.2rem;
  font-weight: 400;
  padding-top: 5px;
}

.container-darkened {
  width: 100%;
  background-color: rgba(0, 0, 0, 85%);
}

.open-modal-window-darkened {
  background-color: rgb(16, 15, 46);
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgb(10, 10, 17);
  width: 300px;
  height: 60px;
  margin: 20px;
  text-align: center;
}

.open-modal-window-darkened a {
  text-decoration: none;
}

.open-modal-window-darkened h1 {
  font-size: 2.3rem;
  padding-top: 10px;
  color: rgba(50, 50, 50);
  font-weight: 500;
}
