.black {
  background-color: black;
  color: white;
}

.blue {
  background-color: rgb(53, 28, 117);
  color: white;
}

.violet {
  background-color: rgb(103, 78, 167);
  color: white;
}

.orange {
  background-color: rgb(246, 178, 107);
  color: black;
}

.red {
  background-color: rgb(224, 102, 102);
  color: white;
}

.yellow {
  background-color: rgb(255, 255, 0);
  color: black;
}

.white {
  background-color: white;
  color: black;
}
