* {
  box-sizing: border-box;
  background-color: rgb(254, 249, 241);
}

.container {
  width: 100%;
}

.row {
  display: flex;
}

.row-centered {
  width: 100%;
  height: 1000px;
  justify-content: center;
  align-items: center;
}

.lightbulb {
  width: 450px;
  height: 450px;
  background-color: rgb(250, 234, 132);
  border-radius: 225px;
  box-shadow: 5px 2px 40px rgb(250, 234, 132);
}
