* {
  box-sizing: border-box;
  margin: 0 auto;
}

.container {
  width: 80%;
}

.row {
  display: flex;
}

.column {
  width: 100%;
}

.info-section {
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-section h2 {
  font-size: 5rem;
}

.typing-section {
  text-align: center;
}

.typing-section span {
  font-size: 4rem;
  padding: 0 8px;
}

.first-letter-underline {
  border-bottom: 4px solid black;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
  border-bottom: 4px solid black;
}

.letter-underline {
  border-bottom: 4px solid black;
}

.end-game-section {
  display: none;
}
